<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492062046917-6gt7uikplife2pc2m3kqjb6a8ic1cnhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492062046917-6gt7uikplife2pc2m3kqjb6a8ic1cnhu</string>
	<key>API_KEY</key>
	<string>AIzaSyATOYocuZQDTQ3ISYPcuJ6aKj4jHF8lOmI</string>
	<key>GCM_SENDER_ID</key>
	<string>492062046917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moveisapp</string>
	<key>PROJECT_ID</key>
	<string>mr-movies-6d186</string>
	<key>STORAGE_BUCKET</key>
	<string>mr-movies-6d186.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492062046917:ios:36b07711be566ae5fa4eac</string>
	<key>SERVER_CLIENT_ID</key>
    <string>[YOUR SERVER CLIENT ID]</string>
</dict>
</plist>